<!DOCTYPE html>
<html>
	<head>
	<style>
			.vrh{
				position: absolute;
				top: 8px;
			}
	</style>
			<title>Dodaj rezervacijo</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <!-- Bootstrap -->
		    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

		    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
		    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
	</head>
	<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Domov</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="vrh">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Naloge
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/dodaj_nalogo">Dodaj</a></li>
                    <li><a href="/naloge">Vse naloge</a></li>
                    <li class="divider"></li>
                  </ul>
                </div>
            </li>
          <li class="vrh">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Rezervacija
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/rezervacije">Vse rezervacije</a></li>
                    <li class="divider"></li>
                  </ul>
                </div>
            </li>
                <li class="vrh">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Uporabnik
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/prijava">Prijava</a></li>
                    <li><a href="/register">Registracija</a></li>
                    <li><a href="/profile">Profil</a></li>
                    <li><a href="/logout">Odjava</a></li>
                    <li class="divider"></li>
                  </ul>
                </div>
            </li>
            <li class="vrh">
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Prošnje
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/prosnje">Vse prošnje</a></li>
                    <li><a href="/dodaj_prosnjo">Dodaj</a></li>
                  </ul>
                </div>
            </li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
<!--/.navbar -->
	<div class="container">
            <h2>Naloge</h2>
            <div class="row">
                    <div class="panel panel-default">
                    {{form(form)}}
                    </div>
  

                </div>
    </div>            
            
        
    
    <!--/row-offcanvas -->

		
			 <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
			 <script src="{{ asset('js/jquery.js') }}"></script>
			 <!-- Include all JavaScripts, compiled by Assetic -->
			 <script src="{{ asset('js/bootstrap.js') }}"></script>
		 </div>
	</body>
</html>


